.border-solid {
  border-style: solid;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-none {
  border-style: none;
}

.border-1 {
  border: 1px;
}

.border-2 {
  border: 2px;
}

.border-3 {
  border: 3px;
}

.border-4 {
  border: 4px;
}

.border-5 {
  border: 5px;
}

.border-t1 {
  border-top: 1px;
}

.border-r1 {
  border-right: 1px;
}

.border-b1 {
  border-bottom: 1px;
}

.border-l1 {
  border-left: 1px;
}

.border-t2 {
  border-top: 2px;
}

.border-r2 {
  border-right: 2px;
}

.border-b2 {
  border-bottom: 2px;
}

.border-l2 {
  border-left: 2px;
}

.border-t3 {
  border-top: 3px;
}

.border-r3 {
  border-right: 3px;
}

.border-b3 {
  border-bottom: 3px;
}

.border-l3 {
  border-left: 3px;
}

.border-t4 {
  border-top: 4px;
}

.border-r4 {
  border-right: 4px;
}

.border-b4 {
  border-bottom: 4px;
}

.border-l4 {
  border-left: 4px;
}

.border-t5 {
  border-top: 5px;
}

.border-r5 {
  border-right: 5px;
}

.border-b5 {
  border-bottom: 5px;
}

.border-l5 {
  border-left: 5px;
}

.borderc-black {
  border-color: var(--black);
}

@media only screen and (min-width: 30em) {

  .border-solid--s {
    border-style: solid;
  }

  .border-dotted--s {
    border-style: dotted;
  }

  .border-dashed--s {
    border-style: dashed;
  }

  .border-none--s {
    border-style: none;
  }

  .border-1--s {
    border: 1px;
  }

  .border-2--s {
    border: 2px;
  }

  .border-3--s {
    border: 3px;
  }

  .border-4--s {
    border: 4px;
  }

  .border-5--s {
    border: 5px;
  }

  .border-t1--s {
    border-top: 1px;
  }

  .border-r1--s {
    border-right: 1px;
  }

  .border-b1--s {
    border-bottom: 1px;
  }

  .border-l1--s {
    border-left: 1px;
  }

  .border-t2--s {
    border-top: 2px;
  }

  .border-r2--s {
    border-right: 2px;
  }

  .border-b2--s {
    border-bottom: 2px;
  }

  .border-l2--s {
    border-left: 2px;
  }

  .border-t3--s {
    border-top: 3px;
  }

  .border-r3--s {
    border-right: 3px;
  }

  .border-b3--s {
    border-bottom: 3px;
  }

  .border-l3--s {
    border-left: 3px;
  }

  .border-t4--s {
    border-top: 4px;
  }

  .border-r4--s {
    border-right: 4px;
  }

  .border-b4--s {
    border-bottom: 4px;
  }

  .border-l4--s {
    border-left: 4px;
  }

  .border-t5--s {
    border-top: 5px;
  }

  .border-r5--s {
    border-right: 5px;
  }

  .border-b5--s {
    border-bottom: 5px;
  }

  .border-l5--s {
    border-left: 5px;
  }

  .borderc-black--s {
    border-color: var(--black);
  }
}

@media only screen and (min-width: 48em) {

  .border-solid--m {
    border-style: solid;
  }

  .border-dotted--m {
    border-style: dotted;
  }

  .border-dashed--m {
    border-style: dashed;
  }

  .border-none--m {
    border-style: none;
  }

  .border-1--m {
    border: 1px;
  }

  .border-2--m {
    border: 2px;
  }

  .border-3--m {
    border: 3px;
  }

  .border-4--m {
    border: 4px;
  }

  .border-5--m {
    border: 5px;
  }

  .border-t1--m {
    border-top: 1px;
  }

  .border-r1--m {
    border-right: 1px;
  }

  .border-b1--m {
    border-bottom: 1px;
  }

  .border-l1--m {
    border-left: 1px;
  }

  .border-t2--m {
    border-top: 2px;
  }

  .border-r2--m {
    border-right: 2px;
  }

  .border-b2--m {
    border-bottom: 2px;
  }

  .border-l2--m {
    border-left: 2px;
  }

  .border-t3--m {
    border-top: 3px;
  }

  .border-r3--m {
    border-right: 3px;
  }

  .border-b3--m {
    border-bottom: 3px;
  }

  .border-l3--m {
    border-left: 3px;
  }

  .border-t4--m {
    border-top: 4px;
  }

  .border-r4--m {
    border-right: 4px;
  }

  .border-b4--m {
    border-bottom: 4px;
  }

  .border-l4--m {
    border-left: 4px;
  }

  .border-t5--m {
    border-top: 5px;
  }

  .border-r5--m {
    border-right: 5px;
  }

  .border-b5--m {
    border-bottom: 5px;
  }

  .border-l5--m {
    border-left: 5px;
  }

  .borderc-black--m {
    border-color: var(--black);
  }

}

@media only screen and (min-width: 64em) {

  .border-solid--l {
    border-style: solid;
  }

  .border-dotted--l {
    border-style: dotted;
  }

  .border-dashed--l {
    border-style: dashed;
  }

  .border-none--l {
    border-style: none;
  }

  .border-1--l {
    border: 1px;
  }

  .border-2--l {
    border: 2px;
  }

  .border-3--l {
    border: 3px;
  }

  .border-4--l {
    border: 4px;
  }

  .border-5--l {
    border: 5px;
  }

  .border-t1--l {
    border-top: 1px;
  }

  .border-r1--l {
    border-right: 1px;
  }

  .border-b1--l {
    border-bottom: 1px;
  }

  .border-l1--l {
    border-left: 1px;
  }

  .border-t2--l {
    border-top: 2px;
  }

  .border-r2--l {
    border-right: 2px;
  }

  .border-b2--l {
    border-bottom: 2px;
  }

  .border-l2--l {
    border-left: 2px;
  }

  .border-t3--l {
    border-top: 3px;
  }

  .border-r3--l {
    border-right: 3px;
  }

  .border-b3--l {
    border-bottom: 3px;
  }

  .border-l3--l {
    border-left: 3px;
  }

  .border-t4--l {
    border-top: 4px;
  }

  .border-r4--l {
    border-right: 4px;
  }

  .border-b4--l {
    border-bottom: 4px;
  }

  .border-l4--l {
    border-left: 4px;
  }

  .border-t5--l {
    border-top: 5px;
  }

  .border-r5--l {
    border-right: 5px;
  }

  .border-b5--l {
    border-bottom: 5px;
  }

  .border-l5--l {
    border-left: 5px;
  }

  .borderc-black--l {
    border-color: var(--black);
  }

}

