.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.pos-s {
  position: static;
}

.pos-sy {
  position: sticky;
  position: -webkit-sticky; /* Safari iOS */
}

@media only screen and (min-width: 30em) {

  .pos-r--s {
    position: relative;
  }

  .pos-a--s {
    position: absolute;
  }

  .pos-f--s {
    position: fixed;
  }

  .pos-s--s {
    position: static;
  }

  .pos-sy--s {
    position: sticky;
    position: -webkit-sticky; /* Safari iOS */
  }

}

@media only screen and (min-width: 48em) {

  .pos-r--m {
    position: relative;
  }

  .pos-a--m {
    position: absolute;
  }

  .pos-f--m {
    position: fixed;
  }

  .pos-s--m {
    position: static;
  }

  .pos-sy--m {
    position: sticky;
    position: -webkit-sticky; /* Safari iOS */
  }

}

@media only screen and (min-width: 64em) {

  .pos-r--l {
    position: relative;
  }

  .pos-a--l {
    position: absolute;
  }

  .pos-f--l {
    position: fixed;
  }

  .pos-s--l {
    position: static;
  }

  .pos-sy--l {
    position: sticky;
    position: -webkit-sticky; /* Safari iOS */
  }

}

